/*------------seção Tags----------------*/
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    line-height: 2;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*referente a 16px*/
    font-weight: normal;
    color: #66BFBF;
    margin: 0 auto;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

/*------------seção Classes----------------*/

.top-container{
    background-color: #053B50;
    position: relative;
    padding-top: 100px;
   
}  

.cerebro-tec-cima{
    position: absolute;
    right: 20%;
    top: 50px;
}

.cerebro-tec-baixo{
    right: 10%;
    bottom: 70%;
}
