/*------------seção Tags----------------*/
body{
    margin: 0px;
    text-align: center;
}

h1{
    margin-top: 0px;
    width: 10%;
    margin: 0px auto 0px auto;
}

/*------------seção Classes----------------*/

.top-container{
    background-color: #053B50;
    position: relative;
    padding-top: 100px;
   
}  

.cerebro-tec-cima{
    position: absolute;
    right: 20%;
    top: 50px;
}

.cerebro-tec-baixo{
    right: 10%;
    bottom: 70%;
}
