h1{
    font-family: "Poetsen One", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: "Poetsen One", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Poetsen One", sans-serif;
}

p{
    color: #8f8f8f;
}

#title{
    background-color: #051d35;
    color: #fff;
}

.container-fluid{
    padding: 3% 14%;
}

body{
    font-family: "Poetsen One", sans-serif;
}

.navbar-brand{
     font-family: "Ubuntu", sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}


.col-lg-6 {
    padding-left: 175px;
    padding-top: 45px;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font: 1.2rem;
    font-family: "Poetsen One", sans-serif;
}

.title-image{
    width: 60%;
}

/*Feacture box section*/

#feactures{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/*Testimonials section*/

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8173;
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/*Press section*/

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8173;
    text-align: center;
    padding-bottom: 3%;
}

.prass-logo{
    width: 5%;
    margin: 20px 20px 50px;
}