h1{
    font-family: "Poetsen One", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title{
    background-color: #051d35;
    color: #fff;
}

.container-fluid{
    padding: 3% 14%;
}

body{
    font-family: "Poetsen One", sans-serif;
}

.navbar-brand{
     font-family: "Ubuntu", sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}


.col-lg-6 {
    padding-left: 175px;
    padding-top: 45px;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font: 1.2rem;
    font-family: "Poetsen One", sans-serif;
}

.title-image{
    width: 60%;
}