h1{
    font-family: "Poetsen One", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: "Poetsen One", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Poetsen One", sans-serif;
}

p{
    color: #8f8f8f;
}

#title{
    background-color: #051d35;
    color: #fff;
}

.container-fluid{
    padding: 3% 15% 15%;
}

body{
    font-family: "Poetsen One", sans-serif;
}

.navbar-brand{
     font-family: "Ubuntu", sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}


.col-lg-6 {
    padding-left: 175px;
    padding-top: 45px;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font: 1.2rem;
    font-family: "Poetsen One", sans-serif;
}

/*title-image section*/

.title-image{
    width: 60%;
    position: absolute;
    right: 30%;
    top: 60%;
}

/*buttons*/

.download-buttons{
    margin: 5% 3% 5% 0;
}

/*Feacture box section*/

#feactures{
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: absolute;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/*Testimonials section*/

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8173;
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/*Press section*/

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8173;
    text-align: center;
    padding-bottom: 3%;
}

.prass-logo{
    width: 5%;
    margin: 20px 20px 50px;
}

/*pricing section*/

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

/*site responsivo*/

@media (max-width: 1028px) {
    title-image{
        position: static;
    }
}

/*cta section*/

#cta{
    background-color: #051d35;
    height: 25rem;
    padding: 10%;
    text-align: center;
}

.cta-txt{
    
    color: #fff;
    padding-bottom: 1%;
}

/*footer section*/

#footer{
    background-color: #fff;
    height: 16rem;
    text-align: center;
}

.footer-links{
    padding: 8% 0.5% 2%;
    font-size: 15px;
    color: rgba(25, 25, 25, 0.786);
}

p{
    font-family: "Ubuntu", sans-serif;
}